body {
  background-color: rgb(200, 240, 255);
}

[id^=result] {
  border: black 2px;
  padding: 10px;
  margin: 10px;
  line-height: 3%;
}

.doc-name {
  text-decoration: underline;
  font-weight: bold;
}

/* .more-info{
  display: none;
} */