body {
  background-color: rgb(200, 240, 255);
}

[id^=result] {
  border: black 2px;
  padding: 10px;
  /* margin: 10px; */
  line-height: 10px;
}

.doc-name {
  text-decoration: underline;
  font-weight: bold;
}
.doc-name:hover {
  cursor: pointer;
}

.more-info{
  display: none;
  background: lightgoldenrodyellow;
  padding: 3%;
}

.jumbotron {
  background: lightgoldenrodyellow;
}

#instructions {
  font-weight: bold;
}